*{
    margin: 0;
    padding: 0;
}

.nav-wrapper{
    background-color: #212121;
    overflow:hidden;
    
}


#logo{
    color:#06ffc5;
    position: relative;
    left: 75px;
    overflow: hidden;
}

h1{
    text-align: center;
    position: relative;
    top: 50px;
}

.icon{
    position:relative;
    left: 500px; ;
    top: 100px;
    width: 300px;
    overflow: hidden;
}
.bi1{
    margin: 25px;
    color:limegreen;
}
.bi2{
    margin: 25px ;
    color: blue;
}
.bi3{
    margin: 25px;
    color:#212121;

}

.roda_pe{
    position: relative;
    top: 390px;
}


    