*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.nav-wrapper{
    background-color: #212121;
    overflow:hidden;
    
}


#logo{
    color:#06ffc5;
    position: relative;
    left: 75px;
    overflow: hidden;
}
.corpo{
   
    background-color:black;
}

.fundo{
    
    width:100%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.5;
}


.corpo h1{
    font-size: 4rem;
    position: absolute;
    bottom:55%;
    left:22%;
    color:white;
    
}


.icon{
    position:absolute;
    top: 50%;
    left: 32%;
    overflow: hidden;
    
}
.bi1{
    margin: 25px;
    color:limegreen;
}
.bi2{
    margin: 25px ;
    color: blue;
}
.bi3{
    margin: 25px;
    color:#212121;

}

#footer.page-footer{
    background-color: #212121;
    
}
